.feat-sec {
  width: 100%;
  padding: 0 5%;
  box-sizing: border-box;
}

.feat-sec h1 {
  margin: 0;
  font-size: 5em;
}

.feat-sec > div {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
  gap: 1em;
}

.feat-sec > div div {
  width: 100%;
  aspect-ratio: 1 / 1;

  border-radius: 1em;
  border: 2px solid var(--border);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 0.25em;
  box-sizing: border-box;
}

.feat-sec > div h1 {
  font-size: 2em;
  text-align: center;
}

.feat-sec > div p {
  text-align: center;

  display: none;
  transition: display 0.5s allow-discrete;
}

.feat-sec > div div:hover p {
  display: block;

  transition: display 0.5s allow-discrete;
}

#split {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;

  height: 5em;
}

#split div {
  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid var(--border);
  border-radius: 1em;
  cursor: pointer;
}

#split a {
  font-size: 1.5em;
  text-decoration: none;
  color: var(--text);

  height: 100%;
  width: 100%;

  line-height: 3.3em;
}

#upcoming, #upcoming > div div {
  background-color: rgb(from var(--surface0) r g b / 50%);
}

#current, #current > div div {
  background-color: rgb(from var(--surface1) r g b / 50%);
}
